<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="codes.swistak.batterymonitor"
    android:sharedUserMaxSdkVersion="32">

    <!-- Permissions now considered "normal", automatically granted on API 23+ -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><!-- Required on API 28+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".app.BatteryMonitorApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_full_name"
        android:localeConfig="@xml/locales_config"
        android:process="codes.swistak.batterymonitor"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!--
            Temporarily put these two lines in <application> above to enable debugging of release build:

            android:debuggable="true"
            tools:ignore="HardcodedDebugMode"
        -->
        <activity
            android:name=".app.BatteryInfoActivity"
            android:exported="true"
            android:label="@string/app_launcher_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/bi_main_theme">
            <intent-filter android:label="@string/app_launcher_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bi_settings_theme" />

        <activity
            android:name=".alarms.AlarmEditActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bi_settings_theme" />

        <activity
            android:name=".settings.SettingsHelpActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:stateNotNeeded="true"
            android:theme="@style/bi_help_theme" />

        <activity
            android:name=".help.HelpActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:stateNotNeeded="true"
            android:theme="@style/bi_help_theme" />

        <service
            android:name=".monitoring.BatteryInfoService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:icon="@mipmap/ic_launcher_round"
            android:process="codes.swistak.batterymonitor.BIS">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Continuous battery monitoring and user-visible battery status information." />
        </service>

        <receiver
            android:name=".monitoring.BackgroundServiceWatchdog"
            android:enabled="true"
            android:exported="false"
            android:process="codes.swistak.batterymonitor.BIS" />

        <receiver
            android:name=".logs.AutoLogExportReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".monitoring.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:process="codes.swistak.batterymonitor.BIS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!--data android:scheme="package" android:path="codes.swistak.batterymonitor" /-->
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgets.BatteryInfoAppWidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:label="@string/circle_widget"
            android:process="codes.swistak.batterymonitor.BIS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/circle_app_widget_info" />
        </receiver>

        <receiver
            android:name=".widgets.FullAppWidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:label="@string/full_widget"
            android:process="codes.swistak.batterymonitor.BIS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/full_app_widget_info" />
        </receiver>

        <provider
            android:name=".advancedstats.BatteryMonitorShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>
